<!DOCTYPE html>

<html lang="en">

<head>

  <title>Hello, world!</title>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

</head>

<body>

  <h1>Succesfully Sold {{ amount }} shares of {{ ticker }}</h1>


</body>

<style>
    body {
  }

</style>

</html>